th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

#button {
  font-size: 25px;
  padding: 10px 20px;
}

#button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
