* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
}

img {
  position: relative;
}

button {
  border: 0 none;
  background-color: white;
  padding: 0;
}

#chevron-left {
  position: absolute;
  left: 100px;
  top: 250px;
  height: 50px;
  width: 50px;
}

#chevron-right {
  position: absolute;
  right: 100px;
  top: 250px;
  height: 50px;
  width: 50px;
}

.hidden {
  display: none;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 50px;
}
