.container {
  margin: 0 auto;
  max-width: 1000px;
}

.row {
  display: flex;
}

p {
  font-family: Avenir, serif;
}

.half-column {
  width: 50%;
  text-align: left;
}

.half-col {
  padding: 20px 70px;
  background-color: grey;
}

footer {
  text-align: left;
  flex-basis: 100%;
  background-color: whitesmoke;
  padding: 20px 70px;
  color: #747474;
}

.footer-margin {
  margin: 0 30px;
}

.wrap {
  flex-wrap: wrap;
}

.text-white {
  color: white;
}
